<div class="container-fixed">
  <nav class="nav_custom">
    <h3 class="text-dark text-center py-2 px-0 m-0">SICODID</h3>
    <hr class="text-dark">
    <ul class="list_custom text-center text-dark fw-bold pt-1">
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/procesos','grupos_trabajo']" routerLinkActive="active">Grupos de trabajo</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/computo','inicio_computo']" routerLinkActive="active">Inicio de cómputo</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/computo','operaciones']" routerLinkActive="active">Inicio/cierre de operaciones</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/procesos','registro_incidentes']" routerLinkActive="active">Incidentes</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/procesos','actas_jornada']" routerLinkActive="active">Actas de Jornada</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/procesos','hojas_operaciones']" routerLinkActive="active">Hojas de Operaciones</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/reportes','reportes_generales']" routerLinkActive="active">Reportes</li>
      </div>
      <div class="py-1">
        <li class="nav_link" [routerLink]="['/distrital/computo','cierre_computo']" routerLinkActive="active">Cierre de cómputo</li>
      </div>
    </ul>
    <div class="container-fluid text-center pt-1">
      <shared-logout-button/>
    </div>
  </nav>
</div>
