<div class="container-fixed">
  <nav class="nav_custom">
    <h3 class="text-dark text-center py-2 px-0 m-0">SICODID</h3>
    <hr>
    <!-- <ul class="list_custom">
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
    </ul> -->
    <ul class="list_custom text-center text-dark fw-bold">
      <div class="p-1">
        <li class="nav_link">Inicio de cómputo</li>
      </div>
      <div class="p-1">
        <li class="nav_link">Registro de incidencias</li>
      </div>
      <div class="p-1">
        <li class="nav_link">Gestión de actas</li>
      </div>
      <div class="p-1">
        <li class="nav_link">Asignación de grupos de trabajo</li>
      </div>
      <div class="p-1">
        <li class="nav_link">Reportes</li>
      </div>
      <div class="p-1">
        <li class="nav_link">Cierre de cómputo</li>
      </div>
    </ul>
    <div class="container-fluid text-center pt-1">
      <button type="button" class="btn btn-primary p-2">Cerrar sesión <i class="bi bi-box-arrow-right"></i></button>
    </div>
  </nav>
</div>
