<div class="container-fixed">
  <nav class="nav_custom">
    <h3 class="text-white text-center py-2 px-0 m-0">SICODID</h3>
    <hr>
    <ul class="list_custom">
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
      <div class="pb-1">
        <li class="list_custom__item">
          <div class="list_custom__button">
            <a class="nav__link">Estado de la Base de Datos</a>
          </div>
        </li>
      </div>
    </ul>
  </nav>
</div>
