<header class="container-fluid p-0 m-0 text-center fixed-top">
  <nav class="row p-0 m-0">
    <div class="col-2 d-flex justify-content-start align-items-center">
      <img src="assets/logo-header.png" alt="Logo IECM" height="80" style="padding: 4px;">
    </div>
    <div class="col-8 d-flex flex-column justify-content-center align-items-center">
      <h2>Sistema de Cómputos Distritales y de Demarcación</h2>
      <h4>Elección del Poder Judicial Local 2025</h4>
    </div>
    <div class="col-2 d-flex flex-column justify-content-center align-items-center">
      <span><b>Usuario</b></span>
      <span>{{user.name}}</span>
    </div>
  </nav>
</header>
