<div class="pb-5">
  <h3>Registro de incidentes</h3>
  <div class="row py-2 m-0 ">
    <div class="col-12 d-flex justify-content-end align-items-center">
      <button class="btn btn-main" (click)="openModal(0,1)"><i class="bi bi-plus-lg"></i> Agregar incidente</button>
    </div>
    <div class="col-12 py-3">
      @if(incidentes !== undefined) {
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
          <thead>
            <tr>
              <th>Descripción del tipo de incidente</th>
              <th>Participantes</th>
              <th>Descripción de los hechos</th>
              <th>Fecha y hora</th>
              <th>Ver más</th>
            </tr>
          </thead>
          <tbody>
              @for(incidente of incidentes; track i; let i = $index) {
                <tr>
                  <td>{{incidente.descripcion | uppercase}}</td>
                  <td>{{incidente.participantes}}</td>
                  <td>{{incidente.hechos}}</td>
                  <td>{{incidente.fecha_hora_incidente | datehour}}</td>
                  <td><button class="btn btn-secondary" (click)="openModal(incidente.id_incidente, i+2)"><i class="bi bi-eye-fill"></i></button></td>
                </tr>
              }
            </tbody>
        </table>
      } @else {
        <table class="table table-bordered table-striped row-border hover">
          <thead>
            <tr>
              <th>Tipo de incidente</th>
              <th>Participantes</th>
              <th>Fecha y hora</th>
              <th>Ver más</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-warning">
              <td colspan="4">No hay información para mostrar.</td>
            </tr>
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
<distrital-registro-incidentes [incidente]="incidente" [opcion]="opcion" (reset_opcion)="getReset($event)"/>
<!-- @if(showModal) { -->
  <auth-confirm-login />
  <!-- <auth-confirm-login (success)="getSuccess($event)"/> -->
<!-- } -->
