<div class="container">
  <h3>Registro de incidentes</h3>
  <div class="row py-2 m-0 ">
    <div class="col-12 d-flex justify-content-end align-items-center">
      <button class="btn btn-main"><i class="bi bi-plus-lg"></i> Agregar incidente</button>
    </div>
    <div class="col-12 py-3">
      <table class="table table-bordered table-striped row-border hover">
        <thead>
          <tr>
            <th>Tipo de incidente</th>
            <th>Fecha y hora</th>
            <th>Participantes</th>
            <th>Hechos</th>
            <th>Acciones tomadas</th>
            <th>Ver más</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>dfsdf</td>
            <td>sdfsdf</td>
            <td>sdfdsf</td>
            <td>sdfsdfsd</td>
            <td><button class="btn btn-success"><i class="bi bi-eye-fill"></i></button></td>
          </tr>
          <tr>
            <td>1</td>
            <td>dfsdf</td>
            <td>sdfsdf</td>
            <td>sdfdsf</td>
            <td>sdfsdfsd</td>
            <td><button class="btn btn-success"><i class="bi bi-eye-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<distrital-registro-incidentes/>
