<!-- <strong>Actas {{titulo}}</strong>
@if(actas == [] || actas == undefined) {
  <table class="table table-bordered table-striped row-border hover">
    <thead class="head">
      <tr class="stick">
        <th>#</th>
        <th>Sección</th>
        <th>Casilla</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td colspan="3">Sin información para mostrar.</td>
      </tr>
    </tbody>
  </table>
} @else {
  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sección</th>
        <th>Casilla</th>
      </tr>
  public modo_acta:number = 0;blic modo_acta:number = 0;</thead>
    <tbody>
        @for(acta of actas; track i ; let i = $index) {
          <tr [class]="{'table-primary' : selected_row == i && id_seccion == +acta.id_seccion,
          'table-warning':acta.status == 1 || acta.escaner == 1}" (dblclick)="getData(acta)" (dblclick)="getOperacion(operacion)" (click)="getSelect(i, +acta.id_seccion)">
            <td>{{i+1}}</td>
            <td>{{acta.id_seccion}}</td>
            <td>{{acta.tipo_casilla}}</td>
          </tr>
        }
      </tbody>
    </table>
} -->

<strong>Actas {{ titulo }}</strong>
@if(datos !== undefined) {
<table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
  <thead class="head">
    <tr class="stick">
      <th>#</th>
      <th>Sección</th>
      <th>Casilla</th>
    </tr>
  </thead>
  <tbody>
      @for(dato of datos; track i; let i = $index) {
        <tr (dblclick)="getData(dato,operacion, tipo_eleccion)" [class]="{'table-warning': dato.status == 1 || dato.escaner == 1}">
          <td>{{i+1}}</td>
          <td>{{dato.id_seccion}}</td>
          <td>{{dato.tipo_casilla}}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <table class="table table-bordered table-striped row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sección</th>
        <th>Casilla</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td colspan="3">Sin información para mostrar.</td>
      </tr>
    </tbody>
  </table>
}
