<strong>{{ (tipo_acta == 1 ? 'Hojas de Operaciones ' : 'Actas ') + titulo }}</strong>
@if(datos !== undefined) {
<table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
  <thead class="head">
    <tr class="stick">
      <th>#</th>
      <th>Sección</th>
      <th>Casilla</th>
      @if(tipo_acta == 1 && operacion == 2) {
        <th>Acta</th>
      }
    </tr>
  </thead>
  <tbody>
      @for(dato of datos; track i; let i = $index) {
        <tr (click)="getRowSelected(i, +dato.id_seccion)" (dblclick)="getData(dato,operacion, tipo_eleccion)" [class]="{'table-primary' : selected_row == +dato.id_seccion
        && index == i}">
          <td>{{i+1}}</td>
          <td>{{dato.id_seccion}}</td>
          <td>{{dato.tipo_casilla}}</td>
          @if(tipo_acta == 1 && operacion == 2) {
            <td><button class="btn btn-main" (click)="downloadActa(dato)"><i class="bi bi-arrow-down"></i></button></td>
          }
        </tr>
      }
    </tbody>
  </table>
} @else {
  <table class="table table-bordered table-striped row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sección</th>
        <th>Casilla</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td colspan="3">Sin información para mostrar.</td>
      </tr>
    </tbody>
  </table>
}
