.container-fluid {
  height: 100vh;
  background-image: image-set('/assets/image.png');
}


.login {
  background-color: rgb(238, 238, 238);
  width: 430px;
  /* height: 550px; */
  border-radius: 10px;
}

.btn {
  width: 100% !important;
}

.btn-primary:hover {
  font-weight: bold;
}

input {
  text-transform: none !important;
}

@media screen and (min-width:1366) {
  .login {
    width: 450;
    height: 500;
  }
}
