<div class="modal fade" id="actasJornada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actasJornadaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(214, 214, 214);">
        <h5 class="modal-title" id="actasJornadaLabel">{{datos_acta?.operacion == 1 ? 'Capturar' : 'Actualizar'}} Acta de Jornada</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="myForm">
            <div class="row d-flex justify-content-center">
              <div class="col-3">
                <strong>Sección</strong>
                <input type="text" class="form-control text-center border border-secondary" formControlName="id_seccion" readonly [value]="datos_acta?.id_seccion">
              </div>
              <div class="col-3">
                <strong>Casilla</strong>
                <input type="text" class="form-control text-center border border-secondary" formControlName="tipo_casilla" readonly [value]="datos_acta?.tipo_casilla">
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 d-flex justify-content-end align-items-center pb-2">
                  <div class="flex-grow-1 d-flex justify-content-end px-2">
                    <strong>Personas que votaron</strong>
                  </div>
                  <div style="width: 150px;">
                    <input type="number" id="personas" class="form-control text-center border border-secondary" formControlName="personas_votaron"
                    (keydown)="bloquear($event)" (keyup)="next($event,'tribunal')" (keypress)="limit($event)">
                    @if(isValidField('personas_votaron')) {
                      <span class="text-danger">{{getFieldErrors('personas_votaron')}}</span>
                    }
                  </div>
              </div>
              <div class="col-12 py-2 my-1"><strong>Total de boletas sacadas de la(s) urna(s):</strong></div>
              <div class="col-12 d-flex justify-content-end align-items-center py-2 bg-1">
                <div class="flex-grow-1 d-flex justify-content-end px-2">
                  <strong>MAGISTRATURAS DEL TRIBUNAL DE DISCIPLINA JUDICIAL DE LA CIUDAD DE MÉXICO</strong>
                </div>
                <div style="width: 150px;">
                  <input type="number" id="tribunal" class="form-control text-center border border-secondary" formControlName="votos_tribunal"
                  (keydown)="bloquear($event)" (keyup)="next($event,'magistraturas')" (keypress)="limit($event)">
                  @if(isValidField('votos_tribunal')) {
                    <span class="text-danger">{{getFieldErrors('votos_tribunal')}}</span>
                  }
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end align-items-center py-2 bg-2">
                <div class="flex-grow-1 d-flex justify-content-end px-2">
                  <strong>MAGISTRATURAS DEL PODER JUDICIAL DE LA CIUDAD DE MÉXICO</strong>
                </div>
                <div style="width: 150px;">
                  <input type="number" id="magistraturas" class="form-control text-center border border-secondary" formControlName="votos_magistraturas"
                  (keydown)="bloquear($event)" (keyup)="next($event,'juzgados')" (keypress)="limit($event)">
                  @if(isValidField('votos_magistraturas')) {
                    <span class="text-danger">{{getFieldErrors('votos_magistraturas')}}</span>
                  }
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end align-items-center py-2 bg-3">
                <div class="flex-grow-1 d-flex justify-content-end px-2">
                  <strong>JUZGADOS DEL PODER JUDICIAL DE LA CIUDAD DE MÉXICO</strong>
                </div>
                <div style="width: 150px;">
                  <input type="number" id="juzgados" class="form-control text-center border border-secondary" formControlName="votos_juzgados"
                  (keydown)="bloquear($event)" (keyup)="next($event,'pe')" (keypress)="limit($event)">
                  @if(isValidField('votos_juzgados')) {
                    <span class="text-danger">{{getFieldErrors('votos_juzgados')}}</span>
                  }
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end align-items-center py-1">
                <div class="flex-grow-1 d-flex justify-content-end px-2">
                  <strong>Punto de Escrutinio</strong>
                </div>
                <div style="width: 150px;">
                  <select id="pe" class="form-select text-center border border-secondary" formControlName="punto_escrutinio">
                    <option value="">Seleccionar</option>
                    @for(pe of puntos_escrutinio; track i; let i = $index) {
                      <option [value]="pe.id">{{pe.descripcion}}</option>
                    }
                  </select>
                  @if(isValidField('punto_escrutinio')) {
                    <span class="text-danger">{{getFieldErrors('punto_escrutinio')}}</span>
                  }
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <button class="btn btn-danger mx-1" (click)="closeModal()">Cerrar</button>
              <button class="btn btn-main mx-1" id="save" (click)="saveActaJornada()">{{datos_acta?.operacion == 1 ? 'Guardar' : 'Actualizar'}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

