
.modal-content {
  background-color: rgb(238, 238, 238);
  border-top: 6px solid #522A78;
  border-radius: 10px;
}
.modal-dialog-centered {
  width:430px;
}

input {
  text-transform:none !important;
}
