.head .stick:first-child th {
  position: sticky;
  top:-19px;
  /* background-color: #bba0ff !important; */
  /* color: white !important; */
  font-weight: bold !important;
  text-align: center !important;
  /* border: solid 1px #000000 !important; */
}

.bg-1 {
  background-color: #BFA3C4;
}

.bg-2 {
  background-color: #F4D7DF;
}

.bg-3 {
  background-color: #C0D1C9;
}
