<div class="modal fade" id="actas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actasLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" [class]="{'bg-1' : +eleccion == 1,'bg-2' : +eleccion == 2,'bg-3' : +eleccion == 3}">
        <h5 class="modal-title" id="actasLabel">{{datos_acta?.operacion == 1 ? 'Captura' : 'Actualización'}} de actas</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="myForm">
            <div class="row p-0 m-0">
              <div class="col-6">
                <strong>Tipo de elección</strong>
                <select class="form-select text-center" formControlName="tipo_eleccion" (change)="getDatosActa()">
                  <option value="">Seleccionar tipo elección</option>
                  @for(t_eleccion of tipo_eleccion; track i; let i = $index) {
                    <option [value]="t_eleccion.id">{{t_eleccion.descripcion}}</option>
                  }
                </select>
              </div>
              <div class="col-2">
                <strong>Sección</strong>
                <input type="text" class="form-control text-center" readonly [value]="datos_acta?.id_seccion">
              </div>
              <div class="col-2">
                <strong>Casilla</strong>
                <input type="text" class="form-control text-center" readonly [value]="datos_acta?.tipo_casilla">
              </div>
              <div class="col-2">
                <table class="table table-bordered">
                  <thead>
                    <tr style="position:inherit;">
                      <th style="position:static;" colspan="2">Candidatos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-danger">Mujeres</td>
                      <td class="table-primary">Hombres</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row p-0 m-0 d-flex justify-content-center">
              <div class="col-4">
                <strong>Número total de votos que se encuentran en la bolsa correspondiente</strong>
                <input type="number" formControlName="total_votos" class="form-control text-center" id="emitida" (keydown)="bloquear($event)" (keypress)="limit($event)" (keyup)="next($event,'M0')">
                @if(isValidField('total_emitida')) {
                  <span class="text-danger">{{getFieldErrors('total_emitida')}}</span>
                }
              </div>
            </div>
            <div class="row py-3 m-0">
              <div class="col-12">
                @if(eleccion !== '') {
                  <table class="table table-bordered table-striped row-border hover" formArrayName="candidatos">
                    <thead class="head">
                      <tr class="stick">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Postula</th>
                        @if(+eleccion !== 3) {
                          <th>Materia</th>
                        }
                        <th>Total de votos</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(candidato of candidatos.controls; track i; let i = $index) {
                        <tr formControlName="i">
                          <td>{{i+1}}</td>
                          <td>{{i+1}}</td>
                          <td>{{i+1}}</td>
                          @if(+eleccion !== 3) {
                            <td>{{i+1}}</td>
                          }
                          <td>{{i+1}}</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                } @else {
                  <div class="alert alert-warning" role="alert">
                    Seleccione un tipo de elección para ver los candidatos.
                  </div>
                }
              </div>
            </div>
            <div class="row p-0 m-0 d-flex justify-content-center">
              <div class="col-4">
                <strong>Votos núlos</strong>
                <input type="number" formControlName="votos_nulos" class="form-control text-center" id="emitida" (keydown)="bloquear($event)" (keypress)="limit($event)" (keyup)="next($event,'M0')">
                @if(isValidField('votos_nulos')) {
                  <span class="text-danger">{{getFieldErrors('votos_nulos')}}</span>
                }
              </div>
              <div class="col-4">
                <strong>Recuadros no utilizados</strong>
                <input type="number" formControlName="recuadros_nu" class="form-control text-center" id="emitida" (keydown)="bloquear($event)" (keypress)="limit($event)" (keyup)="next($event,'M0')">
                @if(isValidField('recuadros_nu')) {
                  <span class="text-danger">{{getFieldErrors('recuadros_nu')}}</span>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <button class="btn btn-danger" (click)="closeModal()"><i class="bi bi-exit"></i>Cerrar</button>
              @if(eleccion !== '') {
                <button class="btn btn-main mx-3" (click)="saveActa()">{{datos_acta?.operacion == 1 ? 'Capturar' : 'Actualizar'}} acta</button>
              }
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
