<div class="modal fade" id="actas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actasLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" [class]="{'bgh-1' : +eleccion == 1, 'bgh-2' : +eleccion == 2, 'bgh-3' : +eleccion == 3, '' : eleccion == ''}">
        <h5 class="modal-title" id="actasLabel">{{datos_acta?.operacion == 1 ? 'Capturar' : 'Actualizar'}} Hoja de Operaciones</h5>
      </div>
      <div class="modal-body" [class]="{'bg-1': +eleccion == 1, 'bg-2': +eleccion == 2, 'bg-3': +eleccion == 3, '': eleccion == ''}">
        <div class="container-fluid">
          <form [formGroup]="myForm">
            <div class="row">
              <div class="col-6">
                <strong>Tipo de elección</strong>
                <select class="form-select text-center" formControlName="tipo_eleccion" [value]="datos_acta?.tipo_eleccion" (change)="getDatosActa()">
                  <option value="">Seleccionar</option>
                  @for(eleccion of tipos_eleccion; track i; let i = $index) {
                    <option [value]="eleccion.id">{{eleccion.descripcion}}</option>
                  }
                </select>
              </div>
              <div class="col-2">
                <strong>Sección</strong>
                <input type="text" class="form-control text-center" [value]="datos_acta?.id_seccion" readonly>
              </div>
              <div class="col-2">
                <strong>Casilla</strong>
                <input type="text" class="form-control text-center" [value]="datos_acta?.tipo_casilla" readonly>
              </div>
              <div class="col-2">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr style="position:inherit;">
                      <th style="position:static;"  colspan="2">Candidatos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-danger">Mujeres</td>
                      <td class="table-primary">Hombres</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row py-2 m-0 d-flex justify-content-end">
              <div class="col-8 d-flex justify-content-end align-items-center">
                <strong>Número total de votos que se encuentran en la bolsa correspondiente</strong>
              </div>
              <div style="width: 150px !important;">
                <input type="number" class="form-control text-center border border-secondary" formControlName="total_votos"
                (keydown)="bloquear($event)" (keyup)="next($event,'0')" (keypress)="limit($event)">
                @if(isValidField('total_votos')) {
                  <span class="text-danger">{{getFieldErrors('total_votos')}}</span>
                }
              </div>
            </div>
            <div class="row pt-2 m-0">
              <div class="col-12">
                <table class="table table-bordered table-striped" formArrayName="candidatos">
                  <thead class="head">
                    <tr class="stick">
                      <th># Candidato</th>
                      <th>Nombre candidato</th>
                      <th>Postula</th>
                      @if(+eleccion !== 1) {
                        @if(+eleccion == 2) {
                          <th style="width: 200px;">Materia</th>
                        } @else {
                          <th style="width: 350px;">Materia</th>
                        }
                      }
                      <th style="width: 150px;">Votos</th>
                    </tr>
                  </thead>
                  <tbody>
                  @if(acta !== undefined) {
                    @for(candidato of candidatos.controls; track i; let i = $index) {
                      <tr [formGroupName]="i" [class]="{'table-danger' : candidato.get('genero')?.value == 'M', 'table-primary' : candidato.get('genero')?.value == 'H'}">
                        <td>{{candidato.get('id_candidato')?.value}}</td>
                        <td>{{candidato.get('nombre')?.value}}</td>
                        <td>{{candidato.get('postula')?.value}}</td>
                        @if(+eleccion !== 1) {
                          <td>{{candidato.get('tipo_materia')?.value}}</td>
                        }
                        <td>
                          <input type="number" [id]="i" class="form-control text-center border border-secondary" formControlName="votos"
                          (keydown)="bloquear($event)" (keyup)="enter($event,(i+1).toString())" (keypress)="limit($event)">
                          @if(isValidVotosField('candidatos', i.toString(), 'votos')) {
                            <span class="text-danger">{{ getFieldVotosErrors('candidatos', i.toString(), 'votos') }}</span>
                          }
                        </td>
                      </tr>
                    }
                  } @else {
                    <tr>
                      @if(+eleccion !== 1) {
                        <td colspan="5">Sin información para mostrar.</td>
                      } @else {
                        <td colspan="4">Sin información para mostrar.</td>
                      }
                    </tr>
                  }
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row m-0 d-flex justify-content-end">
              <div class="col-8 d-flex justify-content-end align-items-center">
                <strong>Votos nulos</strong>
              </div>
              <div style="width: 150px !important;">
                <input type="number" id="nulos" class="form-control text-center border border-secondary" formControlName="votos_nulos"
                (keydown)="bloquear($event)" (keyup)="next($event,'nu')" (keypress)="limit($event)">
                @if(isValidField('votos_nulos')) {
                  <span class="text-danger">{{getFieldErrors('votos_nulos')}}</span>
                }
              </div>
            </div>
            <div class="row py-1 m-0 d-flex justify-content-end">
              <div class="col-8 d-flex justify-content-end align-items-center">
                <strong>Recuadros no utilizados</strong>
              </div>
              <div style="width: 150px !important;">
                <input type="number" id="nu" class="form-control text-center border border-secondary" formControlName="recuadros_nu"
                (keydown)="bloquear($event)" (keyup)="next($event,'submit')" (keypress)="limit($event)">
                @if(isValidField('recuadros_nu')) {
                  <span class="text-danger">{{getFieldErrors('recuadros_nu')}}</span>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" [class]="{'bg-1': +eleccion == 1, 'bg-2': +eleccion == 2, 'bg-3': +eleccion == 3, '': eleccion == ''}">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <button class="btn btn-danger mx-1" (click)="closeModal()"><i class="bi bi-exit"></i>Cerrar</button>
              @if(eleccion !== '') {
                <button class="btn btn-main mx-1" id="save" (click)="saveActa()">{{datos_acta?.operacion == 1 ? 'Guardar' : 'Actualizar'}}</button>
              }
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
