<strong>Hojas de Operaciones</strong>
@if(datos !== undefined) {
<table datatable class="table table-bordered table-striped row-border hover">
  <thead class="head">
    <tr class="stick">
      <th>#</th>
      <th>Sección</th>
      <th>Casilla</th>
    </tr>
  </thead>
  <tbody>
      @for(dato of datos; track i; let i = $index) {
        <tr>
          <td>{{i+1}}</td>
          <td>{{dato}}</td>
          <td>{{dato}}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <table class="table table-bordered table-striped row-border hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Sección</th>
        <th>Casilla</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary">
        <td colspan="3">Sin información para mostrar.</td>
      </tr>
    </tbody>
  </table>
}
