<h3>Integrantes de los grupos de trabajo</h3>
<div class="row pb-5 m-0">
  <form [formGroup]="myForm">
    <div class="col-12 pt-1 pb-2 d-flex justify-content-end">
      <button type="button" class="btn btn-main" (click)="addIntegrante()"><i class="bi bi-plus-lg"></i>Agregar integrante</button>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-striped row-border hover">
        <thead>
          <tr>
            <th>Nombre(s)</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Cargo</th>
            <th>Función</th>
            <th>Grupo de trabajo</th>
            <th>Punto  de Escrutinio</th>
            <th>Turno</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody formArrayName="integrantes">
          @for(integrante of integrantes.controls; track i; let i = $index) {
            <tr [formGroupName]="i">
              <td>
                <input type="text" class="form-control text-center" formControlName="nombres" [id]="i">
                @if(isValidField('integrantes',i.toString(),'nombres')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'nombres') }}</span>
                }
              </td>
              <td>
                <input type="text" class="form-control text-center" formControlName="apellido1">
                @if(isValidField('integrantes',i.toString(),'apellido1')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'apellido1') }}</span>
                }
              </td>
              <td>
                <input type="text" class="form-control text-center" formControlName="apellido2">
                @if(isValidField('integrantes',i.toString(),'apellido2')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'apellido2') }}</span>
                }
              </td>
              <td>
                <select class="form-select text-center" formControlName="id_cargo">
                  <option value="">Seleccionar</option>
                  @for(cargo of cargos; track i; let i = $index) {
                    <option [value]="cargo.id">{{cargo.descripcion | uppercase}}</option>
                  }
                </select>
                @if(isValidField('integrantes',i.toString(),'id_cargo')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'id_cargo') }}</span>
                }
              </td>
              <td>
                <select class="form-select text-center" formControlName="id_funcion">
                  <option value="">Seleccionar</option>
                  @for(funcion of funciones; track i; let i = $index) {
                    <option [value]="funcion.id">{{funcion.descripcion | uppercase}}</option>
                  }
                </select>
                @if(isValidField('integrantes',i.toString(),'id_funcion')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'id_funcion') }}</span>
                }
              </td>
              <td>
                <select class="form-select text-center" formControlName="gt">
                  <option value="">Seleccionar</option>
                  @for(grupo of gt; track i; let i = $index) {
                    <option [value]="grupo.id">{{grupo.descripcion}}</option>
                  }
                </select>
                @if(isValidField('integrantes',i.toString(),'gt')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'gt') }}</span>
                }
              </td>
              <td>
                <select class="form-select text-center" formControlName="punto_escrutinio">
                  <option value="">Seleccionar</option>
                  @for(punto_e of pt; track i; let i = $index) {
                    <option [value]="punto_e.id">{{punto_e.descripcion}}</option>
                  }
                </select>
              </td>
              <td>
                <select class="form-select text-center" formControlName="turno">
                  <option value="">Seleccionar</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
                @if(isValidField('integrantes',i.toString(),'turno')) {
                  <span class="text-danger">{{ getFieldErrors('integrantes', i.toString(), 'turno') }}</span>
                }
              </td>
              <td>
                @if(integrante.get('id_integrante')?.value !== '') {
                  @if(myForm.get('integrantes')?.get(i.toString())?.disabled) {
                  <button class="btn btn-secondary" (click)="edit(i)"><i class="bi bi-pencil-fill"></i></button>
                  } @else {
                    <button class="btn btn-warning" (click)="editIntegrante(i)"><i class="bi bi-floppy-fill text-white"></i></button>
                  }
                } @else {
                  <button class="btn btn-primary" (click)="saveIntegrante(i)"><i class="bi bi-floppy-fill"></i></button>
                }
              </td>
              <td><button class="btn btn-danger" (click)="deleteIntegrante(i, integrante.get('id_integrante')?.value)"><i class="bi bi-trash3-fill"></i></button></td>
            </tr>
          } @empty {
            <tr class="table-danger">
              <td colspan="7">Sin registros para mostrar.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </form>
</div>
