.fixed {
  position:sticky;
  top:85px;
  border:solid 1px #c6c7c8;
  padding: 15px;
}

.bg-form {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.save {
  width: 40px;
  height: 40px;
  transform: translate(20PX, -25px);
  text-align: center;
  font-size: px;
  color: white !important;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgba(27, 0, 102, 0.575);
  border: rgba(27, 0, 102, 0.575) solid 2px;
  position: fixed;
  bottom: -15px;
  right: 80px;
  transition: all .2s ease-in;
  box-shadow: 0px 9px 15px rgba(0,0,0,0.7);
  padding: 0px;
}
.save:hover {
  background-color: #6A5ACD;
  border: #6A5ACD solid 2px;
}


