.fixed {
  position:sticky;
  top:85px;
  border:solid 1px #c6c7c8;
  padding: 15px;
}

.bg-form {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


